$mat-atarefado: (
    50 : #ecf5f4,
    100 : #d1e5e4,
    200 : #b2d4d2,
    300 : #93c3bf,
    400 : #7bb6b2,
    500 : #64a9a4,
    600 : #5ca29c,
    700 : #529892,
    800 : #488f89,
    900 : #367e78,
    A100 : #cdfffa,
    A200 : #9afff5,
    A400 : #67fff0,
    A700 : #4dffee,
    contrast: (
        50 : #5ca29c,
        100 : #5ca29c,
        200 : #5ca29c,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #367e78,
        A200 : #367e78,
        A400 : #367e78,
        A700 : #367e78,
    )
);
