/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

:host {
  width: 400px;
}

mat-form-field {
  width: 100%;
}

mat-list-option.done .inner-text {
  text-decoration: line-through;
  color: #ef5350;
}

mat-list-option {
  word-wrap: break-word;
  white-space: pre-wrap;
}

/* /deep/ deprecated, we need to find an alternative */
:host /deep/ .mat-list-item-content {
  padding: 0!important;
}

:host /deep/ .mat-list-text {
  padding: 0!important;
  padding-left: 10px!important;
}

.board-options {
  position: relative;
  height: auto;
  padding-top: 5px;
}

.pending-text {
  line-height: 36px;
  position: relative;
  left: 0px;
}

.status-buttons {
  display: inline-block;
  position: absolute;
  right: 0px;
}
