/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

:host {
  width: 400px;
}

mat-form-field {
    width: 100%;
}

mat-list-option.done .inner-text {
    text-decoration: line-through;
    color: #ef5350;
}
